---
import { Picture } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
	src: string;
	alt?: string;
	width?: string;
	margin?: string;
	showalt?: boolean;
	sourceUrl?: string;
	sourceTitle?: string;
	framed?: boolean;
}

const {
	src,
	alt = "",
	width = "1100px",
	margin,
	showalt,
	sourceUrl,
	sourceTitle,
	framed,
} = Astro.props;

// Use glob import to get all images
const images = import.meta.glob<{ default: ImageMetadata }>("/src/images/**/*");

// If src is a string and starts with "/images", try to find it in the glob
const imageSrc =
	typeof src === "string" && src.startsWith("/images")
		? (await images["/src" + src]()).default
		: (src as ImageMetadata);

// Define widths for responsive images
const widths = [440, 800, 1100, 1300, 1800];

// Check if the image is a GIF
const isGif =
	typeof src === "string"
		? src.toLowerCase().endsWith(".gif")
		: src.toString().toLowerCase().endsWith(".gif");
---

<figure
	class:list={["container", { framed }]}
	style={margin ? `margin: ${margin}` : ""}
>
	<div class:list={["image-wrapper", { "image-frame": framed }]}>
		{
			isGif ? (
				<img
					src={typeof src === "string" ? "/src" + src : imageSrc.src}
					alt={alt}
					width={width}
					class="styled-image"
					style={`width: ${width}px; max-width: 100%;`}
				/>
			) : (
				<Picture
					src={imageSrc}
					alt={alt}
					widths={widths}
					formats={["avif", "webp", "jpg"]}
					width={parseInt(width)}
					class="styled-image"
					style={`width: ${width}px; max-width: 100%;`}
				/>
			)
		}
	</div>
	{
		showalt &&
			(sourceUrl ? (
				<figcaption>
					{alt} – Source: <a href={sourceUrl}>{sourceTitle}</a>
				</figcaption>
			) : (
				<figcaption>{alt}</figcaption>
			))
	}
</figure>

<style>
	.container {
		max-width: 100%;
		grid-column: 1 / 4 !important;
		text-align: center;
		margin: var(--space-s) auto;
	}

	.image-wrapper {
		display: flex;
		justify-content: center;
	}

	.image-frame {
		border: 1px solid var(--color-tinted-cream);
		border-radius: var(--border-radius-base);
		box-shadow: var(--box-shadow-lg);
		margin-bottom: var(--space-xs);
	}

	.styled-image {
		height: auto;
		margin: 0 auto var(--space-xs);
		border-radius: var(--border-radius-sm);
	}

	figcaption {
		font-family: var(--font-sans);
		font-size: var(--font-size-sm);
		color: var(--color-gray-600);
		line-height: 1.5;
		width: 100%;
		max-width: 800px;
		margin: var(--space-s) auto 0;
	}

	@media (max-width: 768px) {
		.container {
			margin: var(--space-s) auto;
		}
	}
</style>
