---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import { Icon } from "astro-icon/components";
import WebMentions from "../components/layouts/WebMentions.astro";
import Topics from "../components/layouts/Topics.astro";

type Props = {
	frontmatter: CollectionEntry<"smidgeons">["data"];
};

const { frontmatter } = Astro.props;

// Get the current page's slug from the URL
const currentSlug = Astro.url.pathname.replace(/^\/|\/$/g, "");
---

<Layout title={frontmatter.title} type="smidgeon">
	<header class="header-section">
		<div class="above-title">
			<div class="back-link">
				<a href="/smidgeons">
					<Icon name="heroicons:arrow-left" size={16} />
					<span>Back to Smidgeons</span>
				</a>
			</div>
		</div>
		<div class="metadata">
			{frontmatter.topics && <Topics topics={frontmatter.topics} />}
			<time datetime={frontmatter.startDate.toISOString()}>
				{
					frontmatter.startDate.toLocaleDateString("en-US", {
						year: "numeric",
						month: "long",
						day: "numeric",
					})
				}
			</time>
		</div>
	</header>

	<main class="styled-main">
		<slot />
	</main>

	<WebMentions postSlug={currentSlug} hasBacklinks={false} />
</Layout>

<style>
	.header-section {
		max-width: 800px;
		margin: var(--space-l) auto 0;
	}

	.above-title {
		display: flex;
		align-items: center;
		gap: var(--space-xs);
		min-height: 24px;
		margin-bottom: var(--space-s);
	}

	.metadata {
		justify-content: space-between;
		display: flex;
		flex-direction: row;
		padding-bottom: var(--space-s);
		border-bottom: 1px solid var(--color-tinted-cream);
	}

	.styled-main {
		margin-top: var(--space-xs);
		padding: var(--space-l) 0 var(--space-2xl);
		background: linear-gradient(var(--color-cream) 0, white 110px);
		width: 100%;
	}

	time {
		font-family: var(--font-sans);
		font-size: var(--font-size-sm);
		color: var(--color-gray-600);
	}

	.back-link {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.back-link a {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-family: var(--font-sans);
		font-size: var(--font-size-xs);
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-weight: bold;
		transition: all 0.8s cubic-bezier(0.2, 1, 0.8, 1);
		margin: 0;
		padding: 0;
	}

	.back-link svg {
		width: 0;
		transition: all 0.8s cubic-bezier(0.2, 1, 0.8, 1);
		color: var(--color-gray-300);
		position: relative;
		top: 1px;
	}

	.back-link span {
		display: inline-block;
		transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
		color: var(--color-bright-crimson);
	}

	.back-link a:hover svg {
		width: 16px;
		margin-right: 2px;
		color: var(--color-sea-blue);
	}

	.back-link a:hover span {
		transform: translate3d(3px, 0, 0);
	}

	@media (max-width: 768px) {
		.metadata {
			flex-direction: column;
			text-align: left;
			align-items: flex-start;
			gap: var(--space-xs);
		}

		.styled-main {
			padding: var(--space-xl) var(--space-xs);
		}

		.header-section {
			padding: 0 var(--space-xs);
		}
	}
</style>
